@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700';

/* --------------------------------------------- 
* Filename:     custom-style.css
* Version:      1.0.0 (2016-08-06)
* Website:      http://www.zymphonies.com
* Description:  Global Styles
* Author:       Zymphonies Support Team
                support@zymphonies.com
-----------------------------------------------*/
.moo {
  color: red;
}
p.foo {
  color: #2aabd2;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 170%;
  color: red !important;
  overflow-x: hidden;
  font-weight: 500;
  background: #e6e4df;
  background-size: 100%;
}

p{ margin: 0 0 15px 0; }

h1, .h1{font-size: 20px;font-weight: 600;}

h2, .h2{font-size: 18px;font-weight: 600;}

h3, .h3{ font-size: 16px; font-weight: 600; }

h4, .h4{ font-size: 14px; font-weight: 600; }

img{ max-width: 100%; }

a{ color: #319abd; }

a:hover{
  color: #006688;
  text-decoration: none;
}

a:focus{
  outline: none;
}

ul.links.inline{
  padding: 0;
  margin: 10px 0;
}

ol, ul {
  padding-left: 20px;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
}

.user-logged-in .main-header{
  top: 110px;
}

.main-header > nav{
  background-color: #fff;
  background: rgba(255, 255, 255, 0.85);
  border: 0;
  margin: 0;
  min-height: auto;
  border-radius: 0;
  padding: 15px;
  /* overflow: scroll; */
}

.main-header .region{
  margin: 10px 0;
  max-height: 100%;
  overflow: auto;
}

.main-header .block{
  margin: 0;
  text-align: left;
}

/*Region Header*/

.site-branding{
  margin: 0;
  text-align: right;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
}

.site-name a{
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  letter-spacing: -1px;
}

.region-header .site-branding__slogan{
  font-size: 8px;
  color: #333;
  line-height: 100%;
}

/*Banner*/

.slideshow{
  text-align: center;
  line-height: 160%;
  position: relative;
}

.slideshow h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.slideshow .item:after{
  background: rgba(48, 51, 56, 0.46);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  content: "";
  left: 0;
}

.slideshow .carousel .carousel-control .fa{
  background: #000;
  color: #fff;
  width: 35px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 10px;
  margin-top: -20px;
}

.slideshow .carousel .carousel-control.right .fa{
  right: 0;
  left: auto;
}

.flexslider{
  border: 0;
  margin: 0;
}

.flexslider .slides > li{
  position: relative;
}

.flex-caption{
  display: none;
  position: absolute;
  z-index: 99;
  background: rgba(255, 255, 255, 0.37);
  color: #fff;
  width: 60%;
  padding: 20px;
  left: 50px;
  top: 50px;
  color: #000;
  font-size: 16px;
  line-height: 150%;
}

.flex-caption h2{
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}

.flex-caption .more-link{
  background: #5fbb46;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 2px;
  line-height: 100%;
  font-size: 14px;
  color: #fff;
}

.flex-direction-nav a{
  padding: 10px;
  background: #1f2225;
}

.flex-direction-nav a:before {
  font-size: 24px;
  color: #fff;
}

.flex-control-nav {
  display: none;
  width: auto;
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  padding: 10px;
}

.flex-control-paging li a{
  border-radius: 0;
}

.flex-control-paging li a{
  background: #fff;
  box-shadow: none;
  border-radius: 0;
}

.flex-control-paging li a.flex-active {
  background: #5fbb46;
}

.flex-direction-nav{
  line-height: 160%;
}

/*Top Widget*/

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .block h2.title{
  padding: 10px;
  margin: 0;
  border-bottom: 5px solid #1ab7ea;
}

.topwidget .block .content{
  padding: 10px 10px 0 10px;
}

/*Region Homepage Message*/

.region-homepagemessage{
  padding: 15px;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}

.region-homepagemessage h2{
  margin: 5px 0;
}

.region-homepagemessage p,
.region-homepagemessage .block{
  margin: 0;
}

/*Footer Widget*/

.footerwidget{
  padding: 20px 0;
}

.footerwidget .left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #ddd;
  font-size: 12px;
}

.copyright p{
  margin: 20px 0;
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;
}

.copyright p.copyright{
  margin: 20px 0 0 0;
}

.footerwidget .block h2.title{
  margin: 5px 0 10px 0;
}

.bottom-widgets .block h2.title{
  margin: 5px 0 10px 0;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
}

/*Bottom Widgets*/

.bottom-widgets{
  padding: 20px 0;
  background: #fff;
}

.bottom-widgets img {
  max-width: 100%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px #ddd;
}

/*Footer Menu*/

.region-footer-menu{
  margin: 18px 0 0 0;
}

.footer-menu{
  margin: 0;
  border: 0;
  background: #eee;
  color: #fff;
}

.footer-menu ul{
  margin: 0px 0;
  padding: 0;
  line-height: 100%;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 5px 20px 5px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit Link*/

.credit-link{
  text-align: left;
}

/*Social Media*/

.social-media{
  margin: 15px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .8;
}

/*Form*/

input, button, select, textarea{
  padding: 6px;
  border: 1px solid #999;
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background: #1ab7ea;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  line-height: 100%;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover, 
input[type="submit"]:hover{
  background: #11aadc;
  color: #fff;
}

/*Front Page*/

.path-frontpage .feed-icon{
  display: none;
}

/*Menu*/

.navbar-default .navbar-toggle{
  margin-right: 0;
  border: 0;
  border-radius: 0;
  color: #5fbb46;
  background: none;
  padding: 6px 6px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 1px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
  background: none;
}

nav h2{
  display: none;
}

.menu-base-theme{
  padding: 0;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
  list-style: none;
}

.menu-base-theme li a{
  text-align: left;
  padding: 15px 8px;
  display: block;
  font-weight: 600;
  line-height: 100%;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.region-primary-menu{
   display: none; 
  background: #fff;
  border-radius: 3px;
  width: 100%;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 

.navbar-toggle{
  z-index: 999;
}

/*Breadcrumb*/

.breadcrumb{
  background: none;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-size: 11px;
  border-radius: 0;
}

.breadcrumb ul{
  padding: 0;
  margin: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

.breadcrumb ul li:last-child .breadcrumb-arrows{
  display: none;
}

/*Search Form*/

.search-block-form{
  margin: 0 auto;
}

.region-search{
  padding: 6px 0;
}

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
  height: 36px;
}

#search-block-form input.form-submit{
  background: url(../images/search.png) no-repeat center #999;
  font-size: 0;
  width: 100%;
  height: 36px;
}

/*Demo Typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact Form*/

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*User Login Form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #fff;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}

/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 5px;
  border: 1px solid #eee;
  font-size: 11px;
  display: inline-block;
  line-height: 100%;
  margin-bottom: 10px;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 0px;
}

/*links Inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*Carousel*/

.carousel-caption p,
.carousel-caption h3{
  display: none;
}

.carousel-caption h3{
  margin-top: 0;
  color: #1ab7ea;
  font-size: 32px;
}

.carousel-indicators li{
  border: 1px solid #1ab7ea;
  width: 21px;
  height: 21px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
}

.carousel-indicators .active{
  background-color: #1ab7ea;
  width: 22px;
  height: 22px;
}

/*Sidebar Block*/

.sidebar .region h2.title{
  padding: 10px 0;
  margin: 0;
  border-bottom: 2px solid #1ab7ea;
  text-transform: uppercase;
}

.sidebar .region .content{
  padding: 10px 0;
}

/*Profile Page*/

.path-user .profile >div{
  display: inline-block;
}

.path-user .profile .label{
  display: block;
  color: #333;
}

/*Not front*/

.main-container{
  padding: 0 15px 15px 15px;
}

/*Main Menu*/

.dropdown > ul{
  display: none;
}

.dropdown ul li{
  list-style: none;
}

.dropdown ul li a{
  font-size: 13px;
  color: #0b88b1;
  padding: 10px 0;
}

.menu-base-theme li.dropdown a:after{
  content: "+";
  position: absolute;
  top: 13px;
  right: 0;
  background: #333;
  color: #fff;
  padding: 2px 5px;
  line-height: 100%;
  border-radius: 50%;
  width: 18px;
  text-align: center;
  height: 18px;
  font-size: 13px;
}

.menu-base-theme li.dropdown.openSubMenu a:after{
  content: "-";
  font-size: 24px;
  line-height: 40%;
}

.menu-base-theme li.dropdown > a{
  padding-right: 25px;
}

#page-title{
  padding: 15px 15px 0 15px;
  font-weight: 600;
}

#page-title .block,
#page-title h1{
  margin: 0;
  text-transform: uppercase;
}

.google-map p,
.google-map .block{
  margin: 0;
}

.google-map iframe{
  display: block;
}